body{margin: 0; background-image: url(../images/space.png);
}

header{
  width:80%;
  height: 200px;
  border: solid black 2px;
  margin: auto;
  background: white;
  background-image: url(../images/space.png);
  border-radius: 0 0 10px 10px;
}
.logo{
  text-align: center;


  }
header h1{
  text-align: center;
  padding-top: 5%;
  margin:0px;
  vertical-align: middle;
}
footer{
  height: 100px;
  width: 100%;
  background: white;
  margin: auto;

  background-image: url(../images/space.png);
}
.container{
  border: solid #262622 5px;
  min-height: 200px;
  margin: 10px auto;
  width: 980px;
  border-radius: 15px;
  background:rgba(23, 23, 20, 0.8);

}
.game{

  width:300px;
  min-height: 50px;
  display: block;
  float: left;
  margin:10px;
 border: solid #262622 3px;
border-radius: 13px;
background:  #00001a;
overflow: hidden;
}

hr{border: solid #262622   2px;}

.clearfix{
  clear: both;
}
.discription{
  display: block;
  border-radius: 10px;
  min-height: 80px;
  color: #808080;}

.discription h1{
  font-size: 25px;
  padding-left: 5px;
  margin-top: -2px;
  margin-bottom: -10px;
  text-align: center;
}
.discription p{
  padding: 5px;
  font-style: italic;
}
.link{
font-size: 0px;
}
.linkCont{
  width: 100px;
  height: 50px;
  margin: auto;
  padding: 20px;}
.screenshoot{
  display: block;
  float: left;
  width:300px;
border-radius: 8px 8px 0 0;}

.cnt{
  background-repeat: no-repeat;
  height:200px;
}
.foll{background-position:0 -200px;}
.foll1{background-position:0 -300px;}
/*.cnt:hover{background-size:contain;background-position: center; }*/

.buttons{
  color: #808080;
  width: 180px;
  text-align: center;
  display: block;
  height: 30px;
  background:#00004d;
  border-radius:20px 20px 0 0 ;
  border: none;
  margin: 0 auto;

}
.back{border-radius: 0 0 20px 20px;margin-top: -10px; }
.buttons:hover{border:solid #33334d 2px}
.games{
  margin: 10px auto;
  color: #808080;

}
