body{}
header{
  width:100%;
  height: 200px;
  background: #B0E0E6  ;
  border: solid black 2px;


}
header h1{
  text-align: center;
  padding-top: 5%;
  margin:0px;
  vertical-align: middle;
}
footer{
  height: 100px;
  width: 100%;
  border: solid black 2px;
  background: #B0E0E6;
}

footer a {
  color: white;

}
.container{
  border: solid black 2px;
  min-height: 300px;
  background: #B0E0E6;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 970px;


}
.game{
  border: solid black 1px;
  width:300px;
  min-height: 300px;
  display: block;
  float: left;
  margin:10px;

}
.clearfix{
  clear: both;
}
.discription{
  display: block;
  border: solid black 1px;
  min-height: 80px;
  margin-top: 230px;
  background: #B0E0E6;
}
.discription h1{
  font-size: 25px;
  padding-left: 5px;
}
.discription p{
  padding: 5px;
}
.link{

}
.screenshoot{display: block;float: left;}
