body{margin: 0; background-image: url(../images/space.png);
}

header{
  width:80%;
  height: 200px;
  border: solid black 2px;
  margin: auto;
  background: white;
  background-image: url(../images/space.png);
  border-radius: 0 0 10px 10px;
}
.logo{
  text-align: center;


  }
header h1{
  text-align: center;
  padding-top: 5%;
  margin:0px;
  vertical-align: middle;
}
footer{
  height: 100px;
  width: 100%;
  background: white;
  margin: auto;

  background-image: url(../images/space.png);
}
.container{
  border: solid #262622 5px;
  min-height: 200px;
  margin: 10px auto;
  width: 972px;
  border-radius: 15px;
  background:#171714;
  opacity: 0.9;
}
.game{

  width:300px;
  min-height: 50px;
  display: block;
  float: left;
  margin:10px;
 border: solid #262622 2px;
border-radius: 13px;
background:  #00001a;
}

hr{border: solid #262622   2px;}

.clearfix{
  clear: both;
}
.discription{
  display: block;
  border-radius: 10px;
  min-height: 80px;
  color: #808080;}

.discription h1{
  font-size: 25px;
  padding-left: 5px;
  margin-top: -8px;
}
.discription p{
  padding: 5px;
  font-style: italic;
}
.link{
font-size: 0px;
}
.linkCont{
  width: 100px;
  height: 50px;
  margin: auto;
  padding: 20px;}
.screenshoot{
  display: block;
  float: left;
  width:300px;
border-radius: 8px 8px 0 0;}

.cnt{
  background-repeat: no-repeat;
  background-position: center;
  height:200px;
}

.cnt:hover{background-size:contain; webkit-border-radius:15px;}

.buttons{
  margin: 5px;
  width: 100px;
}
